.rectangle {
    width: 100px;
    height: 130px;
    background: black;
    margin: 5px;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.purple {
    background: purple;
}

.pink {
    background: pink;
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.black {
    background: gray;
}

.white {
    background: white;
}

.flip {
    transform: rotateY(180deg);
    background: black;

}